# Dependencies
/node_modules

# Build artifacts
/.next/
/out/
/build/

# Local Environment Variables
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# JetBrains IDE files
.idea/
*.iml
http-client.env.json
http-client.private.env.json

# Misc
.DS_Store
